#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   background-color: rgb(46, 46, 46);;
}
#note{
    width: 400px;
    background-color: #fff;
    padding: 20px;
    color: #000;
    border-radius: 9px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.row-bar{
    margin: 0;
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}
.options{
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100px;
    height: 40px;
    background-color: #444;
    /* margin: 0px 10px; */
    font-size:1em;
    color: #fff;
}
#Cont{
    position: relative;
    display: flex;
    width: 320px;
    height: 70px;
    margin: 0px 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    
}

.bar{
    position: relative;
    display: flex;
    height: 100%;
    transition: 200ms all; 
}

.rotate{
    transform: rotate(90deg);
}

#bar2{
    background-color: rgb(196, 196, 196);
    width: 250px;
}

#header{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100px;
    font-size: 2em;
}

#totalCount{
 margin-left: 20px;   
}


.perc{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #444;
    border-radius: 35px;;
    height: 70px;
    width: 70px;
    font-size: 1.5em;
    transform: rotate(-90deg);
    margin: 0 1rem;
}

.barCounter{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 70px;
    width: 150px;
    font-size: 2em;
}

