.recruit{
    background-color: rgb(46, 46, 46);
    height: 100%;
}
.bar1{
    color: white;
}
 a:link{
    text-decoration: none;
    /* color: white; */
}
.text-employee{
    color: rgb(255, 194, 14);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8rem;
    text-align: right;
}
.text-job{
    font-weight: 500;
    text-align: right;
    color: rgb(227, 240, 252);
}
.text-content{
    font-weight: 200;
    text-align: right;
    color: rgb(227, 240, 252);
}
.link-detail{
    color: rgb(255, 194, 14);
    text-align: right;
    display: block;
    font-size: x-large;
}
.text-employee-candidate{
    color: rgb(255, 194, 14);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
    /* background-color: aquamarine; */
    line-height: 1.5;
    border-radius: 50%;
    padding: 2rem;
    border: 0.5px  double rgb(255, 194, 14,0.4);
    margin-bottom: 0.5rem;
}
.line{
    height:2px;
    width: 100%;
    background-color: rgb(255, 194, 14);
}
.gray{
    width: 90%;
    background-color: gray;
    margin-left: 1rem;
    margin-bottom: 0.3rem;
}
.marina{
    padding: 1.5rem 0;
    font-size: 6rem;
    font-weight: bold;
}
.blur-img{
    box-shadow: 5px 5px 5px 5px #888888;
}
.marina-complex{
    top: 50%;
    left: 70%;
    position: absolute;
    width: 70%;
    height: 15rem;
    background-color: rgb(250, 249, 245);
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-marina{
    font-size: 1.5rem;
    background-color: white;
    padding: 5px;
    font-weight: 300;
    height: 70%;
    padding-top: 2%;
}
.content-office{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5A5A5A;
    padding-top: 10%;
}
.content-main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 1rem;
    color: #514A4A;
}
.image-scale-small{
    width: 25.2rem;
    height: 15rem;
}
.background{
    position: relative;
    
}
.profile{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(46, 45, 44);
    width: 38rem;
    padding: 20px;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    margin: 0;
}
.realtime-content{
    font-family: Arial, Helvetica, sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    color: rgb(207, 204, 204);
    display: inline;
}
.profile-ceo{
    color: black;
    background-color: #F4F2FF;
    border: 1px solid black;
    padding: 10px;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: inline;
}
.image-ceo{
    width: 100%;
    /* height: 12rem; */
}
.footer{
    position: relative;
}
.feedback{
    top: 42%;
    left: 60%;
    position: absolute;
}